<form action="action_page.php">
    <div class="signup">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <!-- <label for="email"><b>username</b></label> -->
      <input type="text" placeholder="Enter Email" name="email" required>
      
      <!-- <label for="mobile number"><b>Mobile Number</b></label> -->
      <input type="text" placeholder="Enter Number" name="Mno" required>
      
      <!-- <label for="psw"><b>Password</b></label> -->
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <!-- <label for="psw-confirm"><b>Confirm Password</b></label> -->
      <input type="password" placeholder="Confirm Password" name="psw-confirm" required>

      <!-- <label for="brand"><b>Brand</b></label> -->
      <input type="text" placeholder="Enter Brand" name="brand" required>
      
      <hr>
      
     <a href=" newuser">
       
      <button type="submit" class="signup" >signup</button>
    </a>
    </div>
  
    
  </form>