<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Mobiles</title>
 
</head>
<body>
<div class="container">
    <div class= "row">
        <div class="col-md-5">
          <img src="assets/note1.png" class="d-block w-100" alt="1">
            <p class="newarrival text-center">NEW</p>
            <h2> redmi note 8</h2>
            <p class="price">INR &#x20b9; 12500 </p>
            <p>Product code: ISRC2020</p>
            <img src="assets/stars.png" class="starts">
            <a href="cart">
              <button type="button" class="btn btn-default cart">
                  Add to cart
              </button>
            </a>
            
            
        </div>
    </div>
 </div>




 <div class="container">
    <div class= "row">
        <div class="col-md-5">
           
          <img src="assets/op1.jpg" class="d-block w-100" alt="1">
       

            <p class="newarrival text-center">NEW</p>
            <h2> Oppo F7</h2>
            <p class="price">INR &#x20b9; 19500 </p>
            <p>Product code: ISRC2021</p>
            <img src="assets/stars.png" class="starts">
            <a href="cart">
              <button type="button" class="btn btn-default cart">
                  Add to cart
              </button>
            </a>
            
        </div>
    </div>
 </div>
</body>
 </html>
