<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Womensware</title>
    
</head>
<body>


<div class="container">
    <div class= "row">
        <div class="col-md-5">
         
          <img src="assets/clothe1.png" class="d-block w-100" alt="1">
            <p class="newarrival text-center">NEW</p>
            <h2> Kurthies </h2>
            <p class="price">INR &#x20b9; 2000 </p>
            <p>Product code: ISRC2219</p>
            <img src="assets/stars.png" class="starts">
          
            <a href="cart">
              <button type="button" class="btn btn-default cart">
                  Add to cart
              </button>
            </a>
            
        </div>
    </div>
</div>




<div class="container">
    <div class= "row">
        <div class="col-md-5">
           
          <img src="assets/g1.jpg" class="d-block w-100" alt="1">
            <p class="newarrival text-center">NEW</p>
            <h2> Gowns </h2>
            <p class="price">INR &#x20b9; 10000 </p>
            <p>Product code: ISRC2989</p>
            <img src="assets/stars.png" class="starts">\
            <button type="button" class="btn btn-default cart">
                Add to cart
            </button>
            
            
        </div>
    </div>


    </div>
</body>
    </html>