
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Vegetables</title>
    
</head>
<body>
<div class="container">
    <div class= "row">
        <div class="col-md-5">
           
          <img src="assets/v1.jpg" class="d-block w-100" alt="1">
            <p class="newarrival text-center">NEW</p>
            <h2> Carrot</h2>
            <p class="price">INR &#x20b9; 50 </p>
            <p>Product code: ISRC2989</p>
            <img src="assets/stars.png" class="starts">
            <a href="cart">
              <button type="button" class="btn btn-default cart">
                  Add to cart
              </button>
            </a>
            
        </div>
    </div>


    </div>





    
<div class="container">
  <div class= "row">
      <div class="col-md-5">
          
        <img src="assets/v2..jpg" class="d-block w-100" alt="1">
          <p class="newarrival text-center">NEW</p>
          <h2> Tomato</h2>
          <p class="price">INR &#x20b9; 100 </p>
          <p>Product code: ISRC2989</p>
          <img src="assets/stars.png" class="starts">
          <a href="cart">
            <button type="button" class="btn btn-default cart">
                Add to cart
            </button>
          </a>
          
      </div>
  </div>


  </div>
    </body>
    </html>