
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Mensware</title>
    
</head>
<body>
<div class="container">
    <div class= "row">
        <div class="col-md-5">
          
          <img src="assets/t1.jpg" class="d-block w-100" alt="1">
            <p class="newarrival text-center">NEW</p>
            <h2> u-necked T-shirts</h2>
            <p class="price">INR &#x20b9; 500 </p>
            <p>Product code: ISRC2989</p>
            <img src="assets/stars.png" class="starts">
            <a href="cart">
              <button type="button" class="btn btn-default cart">
                  Add to cart
              </button>
            </a>
            
        </div>
    </div>


    </div>

    
<div class="container">
  <div class= "row">
      <div class="col-md-5">
         
        <img src="assets/s1.jpg" class="d-block w-100" alt="1">
          <p class="newarrival text-center">NEW</p>
          <h2> mens blazer brand clothing casual suit Slim Jacket</h2>
          <p class="price">INR &#x20b9; 3500 </p>
          <p>Product code: ISRC2989</p>
          <img src="assets/stars.png" class="starts">
          <a href="cart">
            <button type="button" class="btn btn-default cart">
                Add to cart
            </button>
          </a>
          
      </div>
  </div>


  </div>
    </body>
    </html>